<div class="container my-5 py-5 z-depth-1">


  <!--Section: Content-->
  <section class="text-center">
      <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">{{ourData.name}}</h2>

    <div class="row">
      <div class="col-lg-6">
          <img id="gameImg" src={{theirData.background_image}} alt="Game image" class="img-fluid">
        
      </div>

      <div class="col-lg-5 text-center text-md-left">

        {{!-- <span class="badge badge-danger product mb-4 ml-xl-0 ml-4">tags</span>
        <span class="badge badge-success product mb-4 ml-2">tags</span> --}}

        <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
          <span class="red-text font-weight-bold">
            <strong>$50</strong>
          </span>
        </h3>

        <div class="font-weight-normal">
          
          <p class="ml-xl-0 ml-4"></p>{{theirData.description_raw}}</p>
          <p class="ml-xl-0 ml-4">{{ourData.platforms}}</p>
          <p class="ml-xl-0 ml-4">{{ourData.genres}}</p>
          <p class="ml-xl-0 ml-4">ESRB Rating: {{theirData.esrb_rating.name}}</p>
          <p class="ml-xl-0 ml-4">
          {{#ifCond ourData.inventory '>' 0}}
            <p id="inventory">{{ourData.inventory}} Available</p>
          <button id="buyBtn" class="btn btn-secondary">Buy</button>  
          {{else}} 
            Out of stock</p>
          {{/ifCond}}       

        </div>

      </div>
    </div>
  </section>
 
</div>

<div class="container my-5 py-5 z-depth-1">

  <!--Section: Content-->
  <section>
    <form class="input-group" id="reviewPost">
      <input id="reviewBody" data-gameid="{{ourData.id}}" type="text" class="form-control" placeholder="Leave a review...">
      <span class="input-group-btn">
        <input id="postBtn"  class="btn btn-secondary" type="submit"></input>
      </span>
    </form>
    {{#if ourData.Reviews}}
      <ul>
        {{#each ourData.Reviews}}
        <li class="reviewLi">
          <p class="ml-xl-0 ml-4">{{dataValues.User.dataValues.email}}</p>
          <p class="ml-xl-0 ml-4">{{dataValues.body}}</p>
          <p class="ml-xl-0 ml-4">{{dataValues.rating}}</p>
        </li>
        {{/each}}
      </ul>
    {{else}}
      <p class="ml-xl-0 ml-4">No reviews yet</p>
    {{/if}}
  </section>


</div>

